name: Docker Build and Publish (Multi-arch)

on:
  push:
    branches: [ "main", "master" ]

env:
  REGISTRY: ghcr.io
  # Removi a variável IMAGE_NAME antiga para evitar o erro de maiúsculas

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Este passo converte o nome do repositório para minúsculas
      - name: Lowercase repo name
        run: |
          echo "REPO_LOWER=${GITHUB_REPOSITORY@L}" >> "${GITHUB_ENV}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          # Agora usamos a variável REPO_LOWER que criamos no passo acima
          tags: ${{ env.REGISTRY }}/${{ env.REPO_LOWER }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
